In [3]:
import geopandas as gpd
import pandas as pd
import streamlit as st
import folium
import plotly.graph_objects as go
from streamlit_folium import folium_static
import json
st.set_page_config(layout ="wide")

In [4]:
df = pd.read_csv(r'D:\2023_Git\SDG_app\Data\comparing_VIIRS_MODIS_18_20.csv')

In [5]:
df

  Unnamed: 0  VIIRS_AREA (km2)  MODIS_AREA (km2)
0       A101        103.194675                62
1       A202        235.669500               118
2       F101        259.831575               106
3       F201       3135.475575              1052
4      other        852.000000               210