In [1]:
# import geopandas as gpd
import pandas as pd
import streamlit as st
import folium
import plotly.graph_objects as go
from streamlit_folium import folium_static
import json
st.set_page_config(layout ="wide")

In [2]:
de = pd.read_csv(r'Data/emssion_lampang_modis.csv')
de.set_index('Date_Time', inplace=True)

In [3]:
df = pd.read_csv('Data/emssion_lampang_viirs.csv')
df.set_index('Date_Time', inplace=True)

In [4]:
df.shape

(10840, 13)

In [5]:
de.shape

(609, 13)

In [9]:
df

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
Date_Time,,,,,,,,,,,,,
2023-03-30 13:00:00,448,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
2023-03-30 13:00:00,2027,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
2023-03-30 13:00:00,5427,0.004394,0.000104,0.000024,0.000342,0.000032,0.000423,0.000258,0.000028,0.000220,0.066755,0.000287,0.000011
2023-03-30 13:00:00,5691,0.004394,0.000104,0.000024,0.000342,0.000032,0.000423,0.000258,0.000028,0.000220,0.066755,0.000287,0.000011
2023-03-30 13:00:00,6082,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-07 07:00:00,19469,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
2023-04-07 07:00:00,22664,1457.314257,85.681290,18.674127,256.311553,150.125338,344.189799,303.912270,20.504924,113.509402,43096.956782,351.512987,9.520143
2023-04-07 07:00:00,26064,1457.314257,85.681290,18.674127,256.311553,150.125338,344.189799,303.912270,20.504924,113.509402,43096.956782,351.512987,9.520143
2023-04-07 07:00:00,26065,2914.628513,171.362581,37.348255,512.623105,300.250676,688.379599,607.824539,41.009848,227.018804,86193.913565,703.025973,19.040287
2023-04-07 07:00:00,26066,1457.314257,85.681290,18.674127,256.311553,150.125338,344.189799,303.912270,20.504924,113.509402,43096.956782,351.512987,9.520143

In [12]:
de.index.sort_values()

Index(['2023-03-30 10:00:00', '2023-03-30 10:00:00', '2023-03-30 10:00:00',
       '2023-03-30 10:00:00', '2023-03-30 10:00:00', '2023-03-30 10:00:00',
       '2023-03-30 10:00:00', '2023-03-30 10:00:00', '2023-03-30 11:00:00',
       '2023-03-30 11:00:00',
       ...
       '2023-04-07 06:00:00', '2023-04-07 06:00:00', '2023-04-07 06:00:00',
       '2023-04-07 07:00:00', '2023-04-07 07:00:00', '2023-04-07 07:00:00',
       '2023-04-07 07:00:00', '2023-04-07 07:00:00', '2023-04-07 07:00:00',
       '2023-04-07 07:00:00'],
      dtype='object', name='Date_Time', length=12714)

In [13]:
df.index.sort_values()

Index(['2023-03-30 13:00:00', '2023-03-30 13:00:00', '2023-03-30 13:00:00',
       '2023-03-30 13:00:00', '2023-03-30 13:00:00', '2023-03-30 13:00:00',
       '2023-03-30 13:00:00', '2023-03-30 13:00:00', '2023-03-30 13:00:00',
       '2023-03-30 13:00:00',
       ...
       '2023-04-07 06:00:00', '2023-04-07 06:00:00', '2023-04-07 06:00:00',
       '2023-04-07 07:00:00', '2023-04-07 07:00:00', '2023-04-07 07:00:00',
       '2023-04-07 07:00:00', '2023-04-07 07:00:00', '2023-04-07 07:00:00',
       '2023-04-07 07:00:00'],
      dtype='object', name='Date_Time', length=12199)

In [20]:
df.loc['2023-04-06 04:00:00'].describe()

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,17943.019481,455.057118,26.760289,5.755714,78.789665,46.074109,106.071603,93.727718,6.458173,35.489425,13442.978300,107.382705,2.972225
std,8298.753447,1016.087640,59.740278,13.025817,178.838428,104.770329,240.086825,211.976744,14.306160,79.146466,30047.764646,245.498906,6.637725
min,1763.000000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
25%,10789.250000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
50%,19604.000000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
75%,24273.000000,0.004394,0.000104,0.000024,0.000342,0.000032,0.000423,0.000258,0.000028,0.000220,0.066755,0.000287,0.000011
max,32019.000000,5829.258491,342.725196,74.696518,1025.246325,600.501363,1376.759338,1215.649164,82.019706,454.037681,172387.849381,1406.052042,38.080577

In [19]:
de.loc['2023-04-06 04:00:00'].describe()

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
count,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000,154.000000
mean,17943.019481,455.057118,26.760289,5.755714,78.789665,46.074109,106.071603,93.727718,6.458173,35.489425,13442.978300,107.382705,2.972225
std,8298.753447,1016.087640,59.740278,13.025817,178.838428,104.770329,240.086825,211.976744,14.306160,79.146466,30047.764646,245.498906,6.637725
min,1763.000000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
25%,10789.250000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
50%,19604.000000,0.001465,0.000035,0.000008,0.000114,0.000011,0.000141,0.000086,0.000009,0.000073,0.022252,0.000096,0.000004
75%,24273.000000,0.004394,0.000104,0.000024,0.000342,0.000032,0.000423,0.000258,0.000028,0.000220,0.066755,0.000287,0.000011
max,32019.000000,5829.258491,342.725196,74.696518,1025.246325,600.501363,1376.759338,1215.649164,82.019706,454.037681,172387.849381,1406.052042,38.080577