In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import geopandas as gpd
import numpy as np

In [2]:
df = pd.read_csv(r'Data/emssion_lampang.csv')
json1 = r"Data/Grid_Lampang_WGS.geojson"
with open(json1) as response:
    geo = json.load(response)

NameError: name 'json' is not defined

In [4]:
df.set_index('Date_Time', inplace=True)

In [6]:
df.index.unique()

Index(['2023-03-29 13:00:00', '2023-03-29 14:00:00', '2023-03-29 15:00:00',
       '2023-03-29 16:00:00', '2023-03-29 17:00:00', '2023-03-29 18:00:00',
       '2023-03-29 19:00:00', '2023-03-30 01:00:00', '2023-03-30 02:00:00',
       '2023-03-30 03:00:00', '2023-03-30 04:00:00', '2023-03-30 05:00:00',
       '2023-03-30 06:00:00', '2023-03-30 07:00:00', '2023-03-30 13:00:00',
       '2023-03-30 14:00:00', '2023-03-30 15:00:00', '2023-03-30 16:00:00',
       '2023-03-30 17:00:00', '2023-03-30 18:00:00', '2023-03-31 01:00:00',
       '2023-03-31 02:00:00', '2023-03-31 03:00:00', '2023-03-31 04:00:00',
       '2023-03-31 05:00:00', '2023-03-31 06:00:00', '2023-03-31 07:00:00',
       '2023-03-31 13:00:00', '2023-03-31 14:00:00', '2023-03-31 15:00:00',
       '2023-03-31 16:00:00', '2023-03-31 17:00:00', '2023-03-31 18:00:00',
       '2023-03-31 19:00:00', '2023-04-01 01:00:00', '2023-04-01 02:00:00',
       '2023-04-01 03:00:00', '2023-04-01 04:00:00', '2023-04-01 05:00:00',
       '2023-04-01 06:00:00', '2023-04-01 07:00:00', '2023-04-01 13:00:00',
       '2023-04-01 14:00:00', '2023-04-01 15:00:00', '2023-04-01 16:00:00',
       '2023-04-01 17:00:00', '2023-04-01 18:00:00', '2023-04-01 19:00:00',
       '2023-04-02 01:00:00', '2023-04-02 02:00:00', '2023-04-02 03:00:00',
       '2023-04-02 04:00:00', '2023-04-02 05:00:00', '2023-04-02 06:00:00',
       '2023-04-02 07:00:00', '2023-04-02 12:00:00', '2023-04-02 13:00:00',
       '2023-04-02 14:00:00', '2023-04-02 15:00:00', '2023-04-02 16:00:00',
       '2023-04-02 17:00:00', '2023-04-02 18:00:00', '2023-04-03 01:00:00',
       '2023-04-03 02:00:00', '2023-04-03 03:00:00', '2023-04-03 04:00:00',
       '2023-04-03 05:00:00', '2023-04-03 06:00:00', '2023-04-03 07:00:00',
       '2023-04-03 12:00:00', '2023-04-03 13:00:00', '2023-04-03 14:00:00',
       '2023-04-03 15:00:00', '2023-04-03 16:00:00', '2023-04-03 17:00:00',
       '2023-04-03 18:00:00', '2023-04-03 19:00:00', '2023-04-04 01:00:00',
       '2023-04-04 02:00:00', '2023-04-04 03:00:00', '2023-04-04 04:00:00',
       '2023-04-04 05:00:00', '2023-04-04 06:00:00', '2023-04-04 07:00:00',
       '2023-04-04 13:00:00', '2023-04-04 14:00:00', '2023-04-04 15:00:00',
       '2023-04-04 16:00:00', '2023-04-04 17:00:00', '2023-04-04 18:00:00',
       '2023-04-04 19:00:00', '2023-04-05 01:00:00', '2023-04-05 02:00:00'],
      dtype='object', name='Date_Time')

In [8]:
df.loc['2023-03-29 13:00:00']

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
Date_Time,,,,,,,,,,,,,
2023-03-29 13:00:00,971,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,972,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,2828,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,4926,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,5189,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-29 13:00:00,31099,0.014255,0.000336,0.000078,0.001110,0.000104,0.001371,0.000836,0.000090,0.000713,0.216565,0.000932,0.000036
2023-03-29 13:00:00,31100,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,31365,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,31366,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018
2023-03-29 13:00:00,31755,0.007127,0.000168,0.000039,0.000555,0.000052,0.000685,0.000418,0.000045,0.000356,0.108283,0.000466,0.000018