In [1]:
# import geopandas as gpd
import pandas as pd
import geopandas as gpd
import json

In [2]:
compare = pd.read_csv(r'Data/comparing_VIIRS_MODIS_HIMAWARI_20_22.csv')

In [3]:
compare

      LU_CODE  VIIRS_AREA (km2)  MODIS_AREA (km2)  HIMAWARI_AREA (km2)
0        A001          0.238050               NaN                  NaN
1        A100          1.428300               1.0                 12.0
2        A101        103.194675              62.0               1168.0
3   A101+A202          0.238050               NaN                  NaN
4        A200         29.518200               9.0                176.0
..        ...               ...               ...                  ...
88       W101          4.522950               4.0                 24.0
89       W102          0.476100               NaN                  8.0
90       W201         13.568850               5.0               1240.0
91       W202          0.595125               NaN                  NaN
92       W203          0.119025               NaN                  NaN

[93 rows x 4 columns]