In [2]:
# import geopandas as gpd
import pandas as pd
import geopandas as gpd
import json

In [16]:
db = pd.read_csv(r'Data/emssion_lampang_himawari.csv')
db.set_index('Date_Time', inplace=True)
db1 = db.loc['2023-04-01 08:00:00']

db2 = db1.copy()
db2.drop(columns = 'Id', axis = 1, inplace = True)
db2 = pd.DataFrame(db2.sum(), columns=['emisson (Kg)'])

In [20]:
da = pd.read_csv(r'Data/emssion_lampang_modis.csv')
da.set_index('Date_Time', inplace=True)

da1 = da.loc['2023-04-01 08:00:00']

da2 = da1.copy()
da2.drop(columns = 'Id', axis = 1, inplace = True)
da2 = pd.DataFrame(da2.sum(), columns=['emisson (Kg)'])

In [24]:
da1

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
Date_Time,,,,,,,,,,,,,
2023-04-01 08:00:00,10744,0.042765,0.001007,0.000234,0.003331,0.000313,0.004112,0.002508,0.000271,0.002138,0.649696,0.002796,0.000107
2023-04-01 08:00:00,10747,4484.182500,266.143500,24.601500,782.775000,145.372500,447.300000,436.117500,52.557750,78.277500,126362.250000,514.395000,29.074500

In [25]:
db1

,Id,CO,NOx,SO2,NMVOC,NH3,PM10,PM2.5,BC,OC,CO2,CH4,N2O
Date_Time,,,,,,,,,,,,,
2023-04-01 08:00:00,10744,0.042765,0.001007,0.000234,0.003331,0.000313,0.004112,0.002508,0.000271,0.002138,0.649696,0.002796,0.000107
2023-04-01 08:00:00,10747,4484.182500,266.143500,24.601500,782.775000,145.372500,447.300000,436.117500,52.557750,78.277500,126362.250000,514.395000,29.074500