In [38]:
import geopandas as gpd
import pandas as pd
import streamlit as st
import folium
import plotly.graph_objects as go
from streamlit_folium import folium_static
st.set_page_config(layout ="wide")

In [10]:
j = gpd.read_file(r'Data\tha_admbnda_adm1_rtsd_201902_WGS.json')
j

,ADM1_EN,ADM1_TH,geometry
0,Amnat Charoen,อำนาจเจริญ,"POLYGON ((104.97872 16.27913, 104.97691 16.278..."
1,Ang Thong,อ่างทอง,"POLYGON ((100.45794 14.72110, 100.45789 14.721..."
2,Bangkok,กรุงเทพมหานคร,"POLYGON ((100.91398 13.94649, 100.91241 13.946..."
3,Bueng Kan,บึงกาฬ,"POLYGON ((104.18998 18.02374, 104.18873 18.025..."
4,Buri Ram,บุรีรัมย์,"POLYGON ((103.11140 15.48128, 103.11140 15.481..."
...,...,...,...
72,Udon Thani,อุดรธานี,"POLYGON ((103.39971 17.90458, 103.39971 17.904..."
73,Uthai Thani,อุทัยธานี,"POLYGON ((100.10187 15.41736, 100.10023 15.418..."
74,Uttaradit,อุตรดิตถ์,"POLYGON ((100.98885 17.74368, 100.98823 17.744..."
75,Yala,ยะลา,"POLYGON ((101.59243 6.56560, 101.59040 6.56486..."
76,Yasothon,ยโสธร,"POLYGON ((104.76607 16.19644, 104.76403 16.197..."

In [116]:
df = pd.read_excel(r'Data\LCRPGR_final_results.xlsx')
df

,ADM1_EN,Area_2020,Area_2015,Area_2010,Area_2005,Area_2000,LCR_2015-2020,LCR_2010-2015,LCR_2005-2010,LCR_2000-2005,...,Population_2015,Population_2020,PGR_2000-2005,PGR_2005-2010,PGR_2010-2015,PGR_2015-2020,LCRPGR_2000-2005,LCRPGR_2005-2010,LCRPGR_2010-2015,LCRPGR_2015-2020
0,Amnat Charoen,32470200,30243600,27688500,22655700,17468100,0.014208,0.017653,0.040121,0.052007,...,2.435380e+04,2.449174e+04,0.083403,0.019234,0.050644,0.001130,0.623563,2.085896,0.348581,12.577282
1,Ang Thong,99608400,90161100,75725100,60117300,45085500,0.019930,0.034898,0.046162,0.057547,...,7.148415e+04,7.247977e+04,0.059196,0.030228,0.059751,0.002766,0.972158,1.527154,0.584047,7.204330
2,Bangkok,1184694300,1142850600,1069145100,985356900,925380900,0.007192,0.013333,0.016322,0.012560,...,9.163336e+06,1.056493e+07,0.032890,0.032784,0.031753,0.028466,0.381868,0.497873,0.419911,0.252647
3,Bueng Kan,46278900,39897000,32783400,27168300,21744000,0.029677,0.039276,0.037574,0.044543,...,3.053609e+04,3.101283e+04,0.072132,0.025203,0.126995,0.003098,0.617515,1.490890,0.309270,9.578501
4,Buri Ram,279399600,257867100,228395700,187225200,143461800,0.016040,0.024273,0.039753,0.053249,...,1.991754e+05,1.926619e+05,0.069842,0.007024,0.057933,-0.006650,0.762419,5.659728,0.418984,-2.412064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Udon Thani,250679700,234373500,210951900,187626600,153202500,0.013452,0.021057,0.023435,0.040539,...,2.559559e+05,2.497778e+05,0.045865,0.015063,0.037362,-0.004887,0.883866,1.555795,0.563593,-2.752795
73,Uthai Thani,57526200,52650000,46598400,42548400,34636500,0.017715,0.024420,0.018185,0.041147,...,4.584588e+04,4.575204e+04,0.058980,0.001488,0.087000,0.005708,0.697641,12.220549,0.280690,3.103592
74,Uttaradit,136785600,128449800,118881000,108384300,90819000,0.012575,0.015483,0.018488,0.035363,...,1.037277e+05,9.919485e+04,0.053339,0.008367,0.054599,-0.008937,0.662983,2.209565,0.283578,-1.407172
75,Yala,36692100,33061500,29578500,27141300,25050600,0.020838,0.022264,0.017198,0.016032,...,9.502049e+04,9.859835e+04,0.044018,0.001222,0.063155,0.007392,0.364211,14.075188,0.352537,2.818896
76,Yasothon,58911300,55916100,51582600,47154600,40969800,0.010436,0.016134,0.017951,0.028119,...,5.902982e+04,5.775681e+04,0.039283,-0.003727,0.070143,-0.004360,0.715816,-4.816328,0.230010,-2.393448

In [117]:
df1 = df.copy()
df1.set_index('ADM1_EN', inplace=True)
df1 = df1.T

In [118]:
df1.columns

Index(['Amnat Charoen', 'Ang Thong', 'Bangkok', 'Bueng Kan', 'Buri Ram',
       'Chachoengsao', 'Chai Nat', 'Chaiyaphum', 'Chanthaburi', 'Chiang Mai',
       'Chiang Rai', 'Chon Buri', 'Chumphon', 'Kalasin', 'Kamphaeng Phet',
       'Kanchanaburi', 'Khon Kaen', 'Krabi', 'Lampang', 'Lamphun', 'Loei',
       'Lop Buri', 'Mae Hong Son', 'Maha Sarakham', 'Mukdahan', 'Nakhon Nayok',
       'Nakhon Pathom', 'Nakhon Phanom', 'Nakhon Ratchasima', 'Nakhon Sawan',
       'Nakhon Si Thammarat', 'Nan', 'Narathiwat', 'Nong Bua Lam Phu',
       'Nong Khai', 'Nonthaburi', 'Pathum Thani', 'Pattani', 'Phangnga',
       'Phatthalung', 'Phayao', 'Phetchabun', 'Phetchaburi', 'Phichit',
       'Phitsanulok', 'Phra Nakhon Si Ayutthaya', 'Phrae', 'Phuket',
       'Prachin Buri', 'Prachuap Khiri Khan', 'Ranong', 'Ratchaburi', 'Rayong',
       'Roi Et', 'Sa Kaeo', 'Sakon Nakhon', 'Samut Prakan', 'Samut Sakhon',
       'Samut Songkhram', 'Saraburi', 'Satun', 'Si Sa Ket', 'Sing Buri',
       'Songkhla', 'Sukhothai', 'Suphan Buri', 'Surat Thani', 'Surin', 'Tak',
       'Trang', 'Trat', 'Ubon Ratchathani', 'Udon Thani', 'Uthai Thani',
       'Uttaradit', 'Yala', 'Yasothon'],
      dtype='object', name='ADM1_EN')

In [141]:
df1.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [79]:
word = ['PGR', 'LCRPGR']
word_ = []
select = []
for a in word:
    a = a +'_'
    word_.append(a)

for b in word_:
    for c in df1.index:
        if c.startswith(b):
            select.append(c)

select.sort()
select

['LCRPGR_2000-2005',
 'LCRPGR_2005-2010',
 'LCRPGR_2010-2015',
 'LCRPGR_2015-2020',
 'PGR_2000-2005',
 'PGR_2005-2010',
 'PGR_2010-2015',
 'PGR_2015-2020']

In [138]:
LCRPGR

ADM1_EN,Amnat Charoen,Ang Thong,Bangkok,Bueng Kan,Buri Ram,Chachoengsao,Chai Nat,Chaiyaphum,Chanthaburi,Chiang Mai,...,Surin,Tak,Trang,Trat,Ubon Ratchathani,Udon Thani,Uthai Thani,Uttaradit,Yala,Yasothon
2000-2005,0.623563,0.972158,0.381868,0.617515,0.762419,0.585628,0.769014,0.516469,1.130070,0.839843,...,1.042907,0.427504,0.792268,0.444355,0.843193,0.883866,0.697641,0.662983,0.364211,0.715816
2005-2010,2.085896,1.527154,0.497873,1.490890,5.659728,0.986270,-2.559218,4.079409,1.834811,0.976250,...,0.690000,0.755211,1.398365,1.242725,1.159955,1.555795,12.220549,2.209565,14.075188,-4.816328
2010-2015,0.348581,0.584047,0.419911,0.309270,0.418984,0.529989,0.402367,0.258637,1.013463,0.610829,...,0.353674,0.342554,0.301568,0.492016,0.589476,0.563593,0.280690,0.283578,0.352537,0.230010
2015-2020,12.577282,7.204330,0.252647,9.578501,-2.412064,0.939815,-3.367850,-1.223372,2.057814,0.899861,...,-1.169472,1.468970,2.578548,1.399705,1.712293,-2.752795,3.103592,-1.407172,2.818896,-2.393448

In [139]:
# create the first dataframe
df1 = pd.DataFrame({'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]})

# create the second dataframe
df2 = pd.DataFrame({'col1': [10, 11, 12], 'col2': [13, 14, 15], 'col3': [16, 17, 18]})

# create a list of dataframes
list_of_dfs = [df1, df2]

In [142]:
df = r"Data/LCRPGR_final_results.xlsx"
df = pd.read_excel(df)

df1 = df.copy()
df1.set_index('ADM1_EN', inplace=True)
df1 = df1.T

select = []
for c in df1.index:
    if c.startswith('Area_'):
        select.append(c)
select.sort()
Area = df1.loc[select]
select = []
for c in df1.index:
    if c.startswith('LCR_'):
        select.append(c)
LCR = df1.loc[select]
select = []
for c in df1.index:
    if c.startswith('Population_'):
        select.append(c)
select.sort()
Population = df1.loc[select]
select = []
for c in df1.index:
    if c.startswith('PGR_'):
        select.append(c)
select.sort()
PGR = df1.loc[select]
select = []
for c in df1.index:
    if c.startswith('LCRPGR_'):
        select.append(c)
select.sort()
LCRPGR = df1.loc[select]
Area.sort_index(inplace=True)
LCR.sort_index(inplace=True)
Population.sort_index(inplace=True)
PGR.sort_index(inplace=True)
LCRPGR.sort_index(inplace=True)

Population.index = ['2000','2005', '2010', '2015', '2020']
Population.index = pd.to_datetime(Population.index, format='%Y')
Population.index = Population.index.year

Area.index = ['2000','2005', '2010', '2015', '2020']
Area.index = pd.to_datetime(Area.index, format='%Y')
Area.index = Area.index.year

LCR.index = ['2000-2005', '2005-2010', '2010-2015', '2015-2020']
PGR.index = ['2000-2005', '2005-2010', '2010-2015', '2015-2020']
LCRPGR.index  = ['2000-2005', '2005-2010', '2010-2015', '2015-2020']

In [145]:
LCR.index

Index(['2000-2005', '2005-2010', '2010-2015', '2015-2020'], dtype='object')

In [ ]:
fig1 = go.Figure()
province = ['Bangkok']
parameter = ['LCR']
for data in parameter:
    for item in province:
        fig1.add_trace(
            go.Bar(
                x=globals()[data].index,
                y=globals()[data][province],
                hovertemplate="%{y:.2f}",
                # showlegend=False,
                name=item,
            ),
        )
fig1.update_layout(barmode="stack")
fig1.update_layout(
    paper_bgcolor="#bcbcbc",
    plot_bgcolor="#f9e5e5",
    width=800,
    height=600,
    title=f"Average value of PM2.5 concentration using the model developing of this study.",
    margin=dict(l=50, r=50, t=50, b=50)
    )